/*Estilização do corpo da página e plano de fundo*/
body {
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Imagens/Gif-background.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

/*Posicionamento do plano de fundo*/

.box {
    width: 100%;
    height: 90%;
    color: rgb(133, 46, 46);
}
/*Posicionamento da imagem lateral do plano de fundo*/
  img {
    position: relative;
    left: 900px;
    top:90px
    /*Posicionamento da Sessão Titulo e Sub-titulo*/
  }
section{
    position: absolute;
    top: 60px;
    right: 700px;
    width: 100px;
    height: 0px;
    z-index: 1;
    border: 0;
}
/*Estilização, tamanho e posicionamento do retangulo*/
.retangulo {
    position: absolute;
    background-color: rgb(194, 30, 244);
    top: 60px;
    right: 400px;
    width: 600px;
    height: 500px;
    border-radius: 10%;
    opacity: 0.9;
}


/*Posicionamento, tamanho e estilização de titulo*/
h1 {
    font-size: 30px;
    position: center;
    left: -150px;
    font-family: 'Indie Flower', cursive;
    color: pink;
}
/*Estilização dos sub-titulos*/
h2{
    color: pink;
}

/*Estilização e posicionamento do texto*/
.hobbies {
    position: absolute;
    top:120px;
    font-family: 'Indie Flower', cursive;
    font-size: 14.5px;
}
