/* Esilização do Background*/
body{
    background-image: url(./Imagens/Plano\ de\ Fundo.jpg );
    background-repeat:round;
}
/*Estilização de Paragrafos*/
p{
    font-family: 'Bree Serif', serif;
    color:rgb(77, 21, 229);
}
/*Tamanho Imagem de Perfil*/
.Eu{
    width: 250px;
    height: 250px;
    
}
/*Tamanho do Gif do Programando*/
.programando{
    width: 250px;
    height: 250px;
}
/*Estilização de Titulo*/
h1{
color: rgb(112, 13, 125);
font-family: 'Indie Flower', cursive;
}
/*Hover dos Paragrafos*/
p:hover{
    background-color: #efbf45;
}
/*Estilização de Icones*/
img{
justify-content: space-between;
width: 60px;
border: 2px solid purple;   
border-radius: 80px;
}
a{
    text-decoration: none;
}

