/*Estilização do corpo geral da página*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Estilização do corpo da página para alinhar os elementos*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}
/*Posicionamento do container de interação com hover*/
.container {
  position: relative;
  display: flex;
  gap: 70px;
}
/*Estlização do container de interação com hover*/
.container .caixa {
  position: absolute;
  top: -250px;
  left: -300px;
  width: 300px;
  height: 400px;
  background: #b72495;
  border-radius: 35px;
  background-size: cover;
  transition: .5s;
  cursor: pointer;
}
/*Estilização hover do container*/
.container .caixa:hover {
  scale: 1.2;
  transition: .5s;
}
/*Efeito de transição do container*/
.container .caixa::before {
  content: '';
  position: absolute;
  width: 150%;
  height: 100%;
  background: inherit;
  border-radius: 35px;
  background-size: cover;
  filter: blur(90px);
  opacity: 0.5;
  z-index: 1;
  transition: .2s;
}
/*Efeito de transição do hover e container*/
.container .caixa:hover::before {
  opacity: 0;
  transition: .2s;
}

/* Estilização da Navegação */
.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(195, 63, 239);
  position: relative;
bottom: -200px;
width: 50%;
color: rgb(8, 243, 165);
text-decoration: none;
}

/*Estilo do cabeçalho*/
.header{
border-radius: 30px;
height: 400px;
background-size:cover
}
.header a{
display: block; 
width: 100%;
height: 100%;
background-size: cover;
border-radius: inherit;

/*Estilização do Paragrado*/
}
p {
  text-align: center;
  font-size: 50px;
  color: blueviolet;
  font-family: 'Indie Flower', cursive;
  position: absolute; 
  top: 5px;
  left: 450px;
}
  
/*Estilo do Corpo da Página*/

body{
width: 100%;
height: 400px;
color: rgb(220, 94, 245);
background-color: #db97ff;

}
.navbar:hover {
background-color: #2df9f9;
transition: 0.3 ease;
}

/*Posicionamento da Imagem*/
img {
position: absolute; 
  top: 150px;
  left: 450px;
  width: 400px;
  border-radius: 30px;
  
}
.foto {
width: 100%;
}
img {
position: absolute;
top: px;
left: 30px



}
/*Estilização do titulo*/


h2 {
position: absolute;
left: 400px;
font-size: 60px;
font-family: 'Indie Flower', cursive;
color: rgb(113, 53, 138);
}

/*Posicionamento do Gif da Ai*/
.AI {
position: absolute;
left: 400px;
top: 175px;

}

/*Estilização dos links da navegação*/

a {
text-decoration: none;

}